.small_section {
  background: white;
  padding: 7rem 0 3rem;

  ul {
    padding: 0;
    li {
      margin-bottom: 3rem;
    }
  }
}

.periods_text{
  font-size: 24px;
  line-height: 60px;
}

.gray_text {
  color: #ccc;
}

@media(max-width: 768px){
  .periods_text{
    padding-top: 0.8rem;
    line-height: 35px;
  }
}