.interview {
  border: 1px solid #ebebeb;
  border-radius:35px;
  padding: 35px;
  margin-top: 1rem;
  font-size:18px;
}

.qrow {
  // display:grid;
  // grid-template-columns: 45% auto;
  // grid-column-gap: 2rem;
  margin-bottom: 3rem;
}
.q {
  font-weight: 600;
  font-size: 21px;
  line-height:24px;
  // border-right: 1px solid #ebebeb;
  margin-bottom: 0.6rem;
}
.a {
  line-height: 24px;
}