.intro_project {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //padding: 10rem;
  //padding: 17%;
  z-index: 0;

  &_content_wrapper {
    display: grid;
    grid-template-columns: auto 50%;
    grid-column-gap: 2rem;
    align-items: start;
  }

  &_data {
    //position: relative;
    align-self: center;
      img {
        margin-bottom: 1.5rem;
      }
  }

  &_images {
    //position: absolute;
    //right: 10rem;
    //top: 4.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    //column-gap: 10px;

    img {
      width: 100%;
      max-width: 237px;
      //width: 32vh;
      border-radius: 15px;

      &:first-child{
        margin-right: 1.9rem;
        box-shadow: 0px 10px 100px rgba(0,0,0, 0.15);
      }

      &:last-child {
        margin-bottom: -4rem;
        box-shadow: 0px 10px 100px rgba(0,0,0, 0.05);
      }
    }
  }

  &_case_button {
    margin: 2rem 0 5rem;
    display: flex;
  }

  &_subtitle {
    margin-top: 1.5rem;
    display: inline-block;
    width: 90%;

    ul{
      padding: 5px;
      li {
        line-height: 24px;
      }
    }

    p {
      display: flex;
      align-items: baseline;
    }

     div {
      display: flex;
      align-items: baseline;
    }
  }

  &_bottom{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    max-width: 270px;

    a {
      width: 100%;
      text-align: center;
    }
  }
}

.achievement_wrap {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.achievement {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 16px 10px 16px 10px;
  display: inline-block;
  text-align: center;
  font-size: 13px;

  span {
    font-size: 38px;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }

  &:first-child {
    margin-right: 16px;
  }
}


.inner_intro{
  height: auto;

  .inner_intro_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }

    .intro_project{
      &_data {
        img {
          //left: -120px;
          border-radius: 15px;
          margin-bottom: 2rem;
        }
      }

      &_subtitle {
        display: inline-block;
        padding-bottom: 3rem;
      }
    }

    .buttons_wrapper {
      margin: 2rem 0;
    }

  .description_text {
    line-height: 28px;
    margin-top: 20px;
    div {
      margin-bottom: 1rem;
    }
  }
}

//Apps page
.apps_grid {
  display: grid;
  grid-template-columns: auto auto;

  .intro_project {
    &_data {
      position: unset !important;
    }

    &_links {
      //position: absolute;
    }
    &_case_button {
      position: absolute;
      margin: 2rem 0 3rem;
    }

    &_images {
      grid-column-gap: 10px;
      img {
        border-radius: 10px;
      }
    }
  }
}

@media(max-width: 1281px) {
  .apps_grid {
    .title {
      font-size: 30px;
      line-height: 38px;
    }
  }
}

@media(min-width: 1681px) {
  .intro_project {
    &_images{
      grid-template-columns: auto auto;
    }
    &_data {
      .title {
        font-size: 80px;
        line-height: 88px;
      }
    }
    &_subtitle {
      font-size: 24px;
      line-height: 36px;
      ul {
        li {
          line-height: 36px;
        }
      }
    }
  }

  .apps_grid {
    .title {
      font-size: 50px;
      line-height: 60px;
    }
  }
}

@media(max-width: 1280px){
  .intro_project{
    &_images {
      grid-column-gap: 1rem;
    }
    &_links {
      a {
        margin-bottom: 1rem;
      }
    }
  }
}

@media(max-width: 1111px){
  .intro_project{
    &_case_button {
      margin: 2rem 0 1rem;
      text-align: center;
      a {
        width: 100%;
      }
    }

    &_links a{
      width: 100%;
      text-align: center;
    }
  }

}

@media(max-width: 768px){
  .intro_project{

    &_content_wrapper {
      grid-template-columns: auto;
    }

    &_images{
      order: 1;
      margin-bottom: 4rem;
      grid-template-columns: auto auto;
    }

    &_data{
      order: 2;
      text-align: center;
    }

    &_case_button {
      margin: 2rem 0 1rem;
      display: flex;
      flex-direction: column;
    }

    &_links {
      margin-bottom: 0;
    }

    &_subtitle {
      div {
        justify-content: center;
      }
    }

    &_bottom{
      max-width: 100%;
    }

  }

  .inner_intro {
    .inner_intro_wrapper {
      grid-template-columns: auto;
    }

    .description_text{
      br {
        display: none;
      }
    }
  }

  .apps_grid {
    grid-template-columns: auto;

    .intro_project {

      &_links {
        position: relative;
      }

      &_case_button {
        position: relative;
        margin: 2rem 0 1rem;
      }
    }
  }
  
}
