$left-part-width: 100%;

.visual_section {
  background: white;
  padding-top: 5rem;

  .title_area {
    padding: 5rem 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    h3 {
      width: $left-part-width;
    }
  }

  .additional_title{
    font-weight: 500;
    margin: 1rem 0;
  }

  .info_area {
    //display: flex;
    //flex-direction: row;
    //align-items: flex-start;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
    padding: 3rem 0 5rem;
    min-height: auto;

    .letters {
      font-size: 1200%;
      font-weight: 600;
      width: $left-part-width;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .description {

      .font_description{
        .font_name {
          font-size: 160%;
          font-weight: 600;
          line-height: 200%;
        }

        .alphabet {
          font-size: 124%;
          line-height: 150%;
          letter-spacing: 2px;
          font-weight: 400;
          max-width: 450px;
        }

        .weights {
          font-size: 100%;
          line-height: 350%;
        }
      }

      .colors_description {


        .colors {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: baseline;
          //padding-top: 2rem;
          //max-width: 400px;

          .color {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 1rem;
            margin-bottom: 2rem;
            background: white;
            border-radius: 20px;
            //box-shadow: 0 0 25px 0 rgba(0,0,0,0.08);
            //padding: 0.5rem;

            .primary {
              display: block;
              //width: 75px;
              //height: 75px;
              //border-radius: 100%;
              width: 125px;
              height: 125px;
              border-radius: 20px;
            }
            .secondary {
              display: block;
              //width: 35px;
              //height: 35px;
              //border-radius: 100%;
              width: 75px;
              height: 75px;
              border-radius: 15px;
            }
            .color_title {
                padding-top: 0.5rem;
              font-size: 80%;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .visual_section {
    .title_area {
      flex-direction: column;
      padding: 3rem 0 0;
    }

    .info_area {
      grid-template-columns: auto;
      padding: 1rem 0 3rem;
    }
  }
}