@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.super-l-text {
  font-size: $font-size-super-large; //70px
  font-weight: bold;
}

.l-text {
  font-size: $font-size-large; //50px
  font-weight: bold;
}

.m-text {
  font-size: $font-size-medium; //40px
  font-weight: bold;
  line-height: 50px;
}

.m-text-1, h3 {
  font-size: $font-size-medium_1; //35px
  font-weight: bold;
  line-height: 50px;
}

.base-text {
  font-size: $font-size-base; //16px
  line-height: 24px;
}

.upper-base-text {
  font-size: $font-size-upper-base; //18px
  line-height: $line-height-upper-base; //24px
}

.uppercase-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 3rem;
}

.gray-text {
  color: #807979;
}

.normal-weight {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

@media(max-width: 768px){
  .l-text{
    font-size: $font-size-medium_1;
  }

  .super-l-text {
    font-size:$font-size-medium;
  }

  .m-text {
    font-size: 30px;
    line-height: 40px;
  }

  .m-text-1, h3 {
    line-height: 40px;
  }
}

@media(min-width: 1681px) {
  //.m-text {
  //  font-size: 70px;
  //  line-height: 78px;
  //}
  //.upper-base-text,
  //.base-text{
  //  font-size: 24px;
  //  line-height: 38px;
  //}
}